*{
    background-color: rgb(109, 151, 115);
}
*{
    font-family: Arial, Helvetica, sans-serif
}
.main{
    width: 100%;
    text-align: right;
    left:650 px;
    bottom: 500px;
}
.photo{
    width: 50%;
    position: fixed;
    float: left;
}
.paragraph{
    width: 33%;
    position: relative;
    float: right;
    top: 100px;
    right: 200px;
    color: white;
    text-align: left;
}
img{
    width: 100%;
    height: auto;
}
h1{
    font-size: 70px;
}
p{
    font-size: 30px;
}
